.label {
    -unity-text-align: middle-center;
    font-size: 50px;
}

.cell {
    flex-grow: 1;
    background-color: rgb(69, 140, 78);
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100px;
    height: 100px;
}

.screen {
    flex-grow: 1;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
}

.instructions {
}
