.inspiration {
    flex-grow: 1;
    background-color: rgb(0, 0, 0);
    position: absolute;
    background-image: url('project://database/Assets/Examples/More/UIToolkit/Inspiration/Shared/Sprites/forza-hud.jpg?fileID=21300000&guid=71d862b8f7f13c044ac52e7de0a869a7&type=3#forza-hud');
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -unity-background-scale-mode: scale-to-fit;
}

#Content VisualElement {
    background-color: rgba(255, 0, 243, 0.78);
}
